@model TravelPlanner.Models.Trip
@using TravelPlanner.Models
@{
    Layout = "_Layout";
}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="jumbotron text-center content-box">
      @if (Model == null)
      {
          <p>No trip found. Please create a trip first.</p>
      }
      else
      {
        <h2>Trip Information:</h2>
        <p>Trip Name: @Html.DisplayFor(model => model.Name)</p>

        @if (Model.DestinationTrips.Count == 0)
        {
            <p>This trip does not have any destinations.</p>
        }
        else
        {
            <h6>Destinations included in this trip:</h6>
            <ul>
                @foreach (var destinationTrip in Model.DestinationTrips)
                {
                    <li>@Html.ActionLink(destinationTrip.Destination.DestinationName, "Details", "Destinations", new { id = destinationTrip.Destination.DestinationId })</li>
                }
            </ul>
            <br>
        }
        @if (Model.TransportationTrips.Count == 0)
        {
            <p>This trip does not have any modes of transportation.</p>
        }
        else
        {
            <h6>Transportation included in this trip:</h6>
            <ul>
                @foreach (var transportationTrip in Model.TransportationTrips)
                {
                    <li>@Html.ActionLink(transportationTrip.Transportation.TransportationName, "Details", "Transportations", new { id = transportationTrip.Transportation.TransportationId })</li>
                }
            </ul>
            <br>
        }
        @if (Model.LodgingTrips.Count == 0)
        {
            <p>This trip does not have any lodgings.</p>
        }
        else
        {
            <h6>Lodging included in this trip:</h6>
            <ul>
                @foreach (var lodgingTrip in Model.LodgingTrips)
                {
                    <li>@Html.ActionLink(lodgingTrip.Lodging.LodgingName, "Details", "Lodgings", new { id = lodgingTrip.Lodging.LodgingId })</li>
                }
            </ul>
            <br>
        }
        
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("Delete", new { id = Model.TripId })" role="button">Delete Trip</a></p>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("Edit", new { id = Model.TripId })" role="button">Edit Trip</a></p>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index")" role="button" style="margin-top: 20px;">Back to List</a></p>
      }
    </div>
  </div>
</div>
