@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="jumbotron text-center content-box">
      <h2>Welcome to NomadCraft</h2>
      <hr />
      @if (User.Identity.IsAuthenticated)
      {
        <h3>What are we doing today?</h3>
        <div class="row justify-content-center b">
            <p>See where you've been</p>
            <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Trips")" role="button">Trips</a></p>
            <p>Plan where you'd like to go</p>
            <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Destinations")" role="button">Destinations</a></p>
            <p>Plan where you're going to stay</p>
            <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Lodgings")" role="button">Lodgings</a></p>
            <p>Plan how you're getting around</p>
            <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Transportations")" role="button">Transportation</a></p>
        </div>
      }
      else
      {
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("Register")" role="button">Register</a></p>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("Login")" role="button">Login</a></p>
      }
      <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Home")" role="button" style="margin-bottom: 20px">Home</a></p>
    </div>
  </div>
</div>
