@using TravelPlanner.ViewModels
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="jumbotron text-center content-box">
      <h2>Log in with your account</h2>
      <hr />

      @if(!ViewData.ModelState.IsValid) 
      {
        @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
      }

      @using (Html.BeginForm())
      {
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

        <input type="submit" class="btn btn-primary btn-lg" value="Log in" style="margin-top: 20px; margin-bottom: 20px;" />
      }

      <p><a class="btn btn-primary btn-lg" href="@Url.Action("Register")" role="button">Register for an account</a></p>
      <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index")" role="button">Back to accounts page</a></p>
      <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Flights")" role="button">Check flights</a></p>
    </div>
  </div>
</div>
