@using TravelPlanner.ViewModels
@model RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="jumbotron text-center content-box">
      <h2 class="register-title">Become an Adventurer</h2>
      <hr />

      @if(!ViewData.ModelState.IsValid) 
      {
        @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
      }

      @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
      {
      
          @Html.LabelFor(user => user.Name, new { @class = "control-label col-sm-2" })
            @Html.TextBoxFor(user=> user.Name, new { @class = "form-control" })
          
      

        
          @Html.LabelFor(user => user.Email, new { @class = "control-label col-sm-2" })
       
            @Html.TextBoxFor(user=> user.Email, new { @class = "form-control" })
       
     

     
          @Html.LabelFor(user=> user.Password, new { @class = "control-label col-sm-2" })
         
            @Html.PasswordFor(user=> user.Password, new { @class = "form-control" })
       

    
          @Html.LabelFor(user=> user.ConfirmPassword, new { @class = "control-label col-sm-2" })
   
            @Html.PasswordFor(user=> user.ConfirmPassword, new { @class = "form-control" })
        

            <input type="submit" class="btn btn-primary btn-lg" value="Register" style="margin-top: 20px;" />
      
      }

      <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index")" role="button" style="margin-top: 20px;">Back to account</a></p>
    </div>
  </div>
</div>
