@{
  Layout = "_Layout";
}

@model TravelPlanner.Models.Transportation

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="jumbotron text-center content-box">
      <h4>How will you travel?</h4>

      @using (Html.BeginForm())
      {
        @Html.LabelFor(model => model.TransportationName)
        @Html.TextBoxFor(model => model.TransportationName, new { @class = "form-control" })

        @Html.LabelFor(model => model.DepartureLocation)
        @Html.TextBoxFor(model => model.DepartureLocation, new { @class = "form-control" })

        @Html.LabelFor(model => model.ArrivalLocation)
        @Html.TextBoxFor(model => model.ArrivalLocation, new { @class = "form-control" })

        <br><input type="submit" value="New Transportation" class="btn btn-primary btn-lg button" />
      }
      <p><a class="btn btn-primary btn-lg button" href="@Url.Action("Index")" role="button" style="margin-top: 20px;">Show all Transportation</a></p>
    </div>
  </div>
</div>
