@using TravelPlanner.Models
@model TravelPlanner.Models.Transportation

@{
  Layout = "_Layout";
}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="jumbotron text-center content-box">
      <h2>Transportation Information</h2>
      <p>Mode of Transportation: @Html.DisplayFor(model => model.TransportationName)</p>
      <p>Departure Location: @Html.DisplayFor(model => model.DepartureLocation)</p>
      <p>Arrival Location: @Html.DisplayFor(model => model.ArrivalLocation)</p>

      @if (@Model.TransportationTrips.Count == 0)
      {
        <p>This transportation needs a trip to go with it!</p>
      }
      else
      {
        <h6>These modes of transportation contain these trips:</h6>
        <ul>
          @foreach (TransportationTrip join in Model.TransportationTrips)
          {
            <h4>@Html.ActionLink($"{@join.Trip.Name}", "Details", "Trips", new {id = @join.Trip.TripId})</h4>
          }
        </ul>
        <br>
      }
      <p><a class="btn btn-primary btn-lg" href="@Url.Action("AddTrip", new { id = Model.TransportationId })" role="button">Add a Trip</a></p>
      <p><a class="btn btn-primary btn-lg" href="@Url.Action("Delete", new { id = Model.TransportationId })" role="button">Delete Transportation</a></p>
      <p><a class="btn btn-primary btn-lg" href="@Url.Action("Edit", new { id = Model.TransportationId })" role="button">Edit Transportation</a></p>
      <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index")" role="button" style="margin-top: 20px;">Back to List</a></p>
    </div>
  </div>
</div>
