<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - NomadCraft</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/css/styles.css">
</head>
<body style="background: url('/Assets/mountains.jpg.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="~/Assets/NomadCraftIcon2.png" width="30" height="30" class="d-inline-block align-top" alt="NomadCraft Icon">
      NomadCraft
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@Url.Action("Index", "Account")">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@Url.Action("Register", "Account")">Register</a>
        </li>
        <li>
          <a class="nav-link" href="@Url.Action("Index", "Trips")">Trips</a>
        </li>
        <li>
          <a class="nav-link" href="@Url.Action("Index", "Destinations")">Destinations</a>
        </li>
        <li>
          <a class="nav-link" href="@Url.Action("Index", "Lodgings")">Lodgings</a>
        </li>
        <li>
          <a class="nav-link" href="@Url.Action("Index", "Transportations")">Transportations</a>
        </li>
        <!-- Add more navigation links as needed -->
      </ul>
    </div>
  </nav>

  <div class="container">
    @RenderBody()
    @await Html.PartialAsync("Footer")
  </div>

  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js"></script>
  @RenderSection("scripts", required: false)
</body>
</html>
